<a href="https://colab.research.google.com/github/REENA256/git-python-project/blob/main/50_Startups_Data_MLR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
# step 1: Import data from csv file
import pandas as pd
data=pd.read_csv('50_Startups_MLR.csv')

In [29]:
print(data)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [7]:
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [8]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [9]:
data.tail()

    R&D Spend  Administration  Marketing Spend       State    Profit
45    1000.23       124153.04          1903.93    New York  64926.08
46    1315.46       115816.21        297114.46     Florida  49490.75
47       0.00       135426.92             0.00  California  42559.73
48     542.05        51743.15             0.00    New York  35673.41
49       0.00       116983.80         45173.06  California  14681.40

In [30]:
# step 2: seperate i/p & o/p
# Independent Variables
X=data.iloc[:,:-2].values

In [31]:
X

array([[165349.2 , 136897.8 , 471784.1 ],
       [162597.7 , 151377.59, 443898.53],
       [153441.51, 101145.55, 407934.54],
       [144372.41, 118671.85, 383199.62],
       [142107.34,  91391.77, 366168.42],
       [131876.9 ,  99814.71, 362861.36],
       [134615.46, 147198.87, 127716.82],
       [130298.13, 145530.06, 323876.68],
       [120542.52, 148718.95, 311613.29],
       [123334.88, 108679.17, 304981.62],
       [101913.08, 110594.11, 229160.95],
       [100671.96,  91790.61, 249744.55],
       [ 93863.75, 127320.38, 249839.44],
       [ 91992.39, 135495.07, 252664.93],
       [119943.24, 156547.42, 256512.92],
       [114523.61, 122616.84, 261776.23],
       [ 78013.11, 121597.55, 264346.06],
       [ 94657.16, 145077.58, 282574.31],
       [ 91749.16, 114175.79, 294919.57],
       [ 86419.7 , 153514.11,      0.  ],
       [ 76253.86, 113867.3 , 298664.47],
       [ 78389.47, 153773.43, 299737.29],
       [ 73994.56, 122782.75, 303319.26],
       [ 67532.53, 105751.03, 304768.73],
       [ 77044.01,  99281.34, 140574.81],
       [ 64664.71, 139553.16, 137962.62],
       [ 75328.87, 144135.98, 134050.07],
       [ 72107.6 , 127864.55, 353183.81],
       [ 66051.52, 182645.56, 118148.2 ],
       [ 65605.48, 153032.06, 107138.38],
       [ 61994.48, 115641.28,  91131.24],
       [ 61136.38, 152701.92,  88218.23],
       [ 63408.86, 129219.61,  46085.25],
       [ 55493.95, 103057.49, 214634.81],
       [ 46426.07, 157693.92, 210797.67],
       [ 46014.02,  85047.44, 205517.64],
       [ 28663.76, 127056.21, 201126.82],
       [ 44069.95,  51283.14, 197029.42],
       [ 20229.59,  65947.93, 185265.1 ],
       [ 38558.51,  82982.09, 174999.3 ],
       [ 28754.33, 118546.05, 172795.67],
       [ 27892.92,  84710.77, 164470.71],
       [ 23640.93,  96189.63, 148001.11],
       [ 15505.73, 127382.3 ,  35534.17],
       [ 22177.74, 154806.14,  28334.72],
       [  1000.23, 124153.04,   1903.93],
       [  1315.46, 115816.21, 297114.46],
       [     0.  , 135426.92,      0.  ],
       [   542.05,  51743.15,      0.  ],
       [     0.  , 116983.8 ,  45173.06]])

In [12]:
# Dependent Variables
Y=data.iloc[:,-2:]

In [13]:
Y

         State     Profit
0     New York  192261.83
1   California  191792.06
2      Florida  191050.39
3     New York  182901.99
4      Florida  166187.94
5     New York  156991.12
6   California  156122.51
7      Florida  155752.60
8     New York  152211.77
9   California  149759.96
10     Florida  146121.95
11  California  144259.40
12     Florida  141585.52
13  California  134307.35
14     Florida  132602.65
15    New York  129917.04
16  California  126992.93
17    New York  125370.37
18     Florida  124266.90
19    New York  122776.86
20  California  118474.03
21    New York  111313.02
22     Florida  110352.25
23     Florida  108733.99
24    New York  108552.04
25  California  107404.34
26     Florida  105733.54
27    New York  105008.31
28     Florida  103282.38
29    New York  101004.64
30     Florida   99937.59
31    New York   97483.56
32  California   97427.84
33     Florida   96778.92
34  California   96712.80
35    New York   96479.51
36     Florida   90708.19
37  California   89949.14
38    New York   81229.06
39  California   81005.76
40  California   78239.91
41     Florida   77798.83
42  California   71498.49
43    New York   69758.98
44  California   65200.33
45    New York   64926.08
46     Florida   49490.75
47  California   42559.73
48    New York   35673.41
49  California   14681.40

In [14]:
# step 3: taking the missing values
import sklearn

In [15]:
# no missing values
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [16]:
# step 4: taking care of string data
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[0])],remainder='passthrough')
Y=ct.fit_transform(Y)

In [32]:
Y

array([[0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.9226183e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.9179206e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.9105039e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.8290199e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.6618794e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.5699112e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.5612251e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.5575260e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.5221177e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.4975996e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.4612195e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.4425940e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.4158552e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.3430735e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.3260265e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.2991704e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.2699293e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.2537037e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.2426690e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.2277686e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.1847403e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.1131302e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.1035225e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.0873399e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.0855204e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.0740434e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.0573354e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.0500831e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.0328238e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.0100464e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 9.9937590e+04],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 9.7483560e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 9.7427840e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 9.6778920e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 9.6712800e+04],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 9.6479510e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 9.0708190e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 8.9949140e+04],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 8.1229060e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 8.1005760e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 7.8239910e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 7.7798830e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 7.1498490e+04],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 6.9758980e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 6.5200330e+04],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 6.4926080e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 4.9490750e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 4.2559730e+04],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 3.5673410e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.4681400e+04]])

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [35]:
X_train

array([[ 77044.01,  99281.34],
       [ 28754.33, 118546.05],
       [ 61994.48, 115641.28],
       [119943.24, 156547.42],
       [ 73994.56, 122782.75],
       [ 72107.6 , 127864.55],
       [130298.13, 145530.06],
       [114523.61, 122616.84],
       [ 78013.11, 121597.55],
       [142107.34,  91391.77],
       [     0.  , 135426.92],
       [     0.  , 116983.8 ],
       [ 27892.92,  84710.77],
       [ 91749.16, 114175.79],
       [ 75328.87, 144135.98],
       [ 15505.73, 127382.3 ],
       [ 23640.93,  96189.63],
       [  1315.46, 115816.21],
       [100671.96,  91790.61],
       [131876.9 ,  99814.71],
       [   542.05,  51743.15],
       [ 64664.71, 139553.16],
       [165349.2 , 136897.8 ],
       [ 61136.38, 152701.92],
       [144372.41, 118671.85],
       [ 46426.07, 157693.92],
       [134615.46, 147198.87],
       [ 46014.02,  85047.44],
       [120542.52, 148718.95],
       [ 28663.76, 127056.21],
       [101913.08, 110594.11],
       [ 22177.74, 154806.14],
       [ 55493.95, 103057.49],
       [123334.88, 108679.17],
       [153441.51, 101145.55],
       [ 93863.75, 127320.38],
       [ 20229.59,  65947.93],
       [ 66051.52, 182645.56],
       [ 67532.53, 105751.03],
       [ 94657.16, 145077.58]])

In [36]:
X_test

array([[  1000.23, 124153.04],
       [ 76253.86, 113867.3 ],
       [ 86419.7 , 153514.11],
       [ 44069.95,  51283.14],
       [ 38558.51,  82982.09],
       [ 78389.47, 153773.43],
       [ 63408.86, 129219.61],
       [ 65605.48, 153032.06],
       [162597.7 , 151377.59],
       [ 91992.39, 135495.07]])

In [37]:
Y_train

array([[0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.0855204e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 7.8239910e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 9.9937590e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.3260265e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.1035225e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.0500831e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.5575260e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.2991704e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.2699293e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.6618794e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 4.2559730e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.4681400e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 7.7798830e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.2426690e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.0573354e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 6.9758980e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 7.1498490e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 4.9490750e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.4425940e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.5699112e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 3.5673410e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.0740434e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.9226183e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 9.7483560e+04],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.8290199e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 9.6712800e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.5612251e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 9.6479510e+04],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.5221177e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 9.0708190e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.4612195e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 6.5200330e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 9.6778920e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.4975996e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.9105039e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.4158552e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 8.1229060e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.0328238e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.0873399e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.2537037e+05]])

In [38]:
Y_test

array([[0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 6.4926080e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.1847403e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.2277686e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 8.9949140e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 8.1005760e+04],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.1131302e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 9.7427840e+04],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.0100464e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.9179206e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.3430735e+05]])